

$primary-color: #4E4369;
$primary-contrast:#8aff77;
$primary-accent:#e29aff;
$accent-color: #333;
$accent-color-light: #e5f0f6;

$feature-color:#2fa8df;

$gray-light: #e5f0f6;
$gray: #f7f7f7;
$gray-dark: #d5d5d5;
$gray-darkest: #9caab1;

$online-color: #8fd80d;
$offline-color: #d0d0d0;
$red:#E84D4D;
.color-red{
    color:$red;
}

/*work mode*/
$primary-color: #333;
$primary-contrast:#fff;
$primary-accent:#ddd;